//colors
$color_astral_approx: #3085a3;
$white: #fff;
$color_pickled_bluewood_approx: #34495e;
$color_chestnut_rose_approx: #cc6055;

//fonts
$font_0: sans-serif;

//@extend-elements
//original selectors
//.gallery figure figcaption, .gallery figure figcaption > a
%extend_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

%extend_2 {
img {
    transition: opacity 0.35s, transform 0.35s;
  }
  p {
    transition: opacity 0.35s, transform 0.35s;
    
    margin: 20px auto;
    width: 100%;
    padding: 30px;
    border: 2px solid $white;
    text-transform: none;
    font-size: 100%;
    opacity: 0;
  }
  &:hover {
    img {
      opacity: 0.1;
     
    }
    p {
      opacity: 1;
      
    }
  } 
}


.gallery figure {
  position: relative;
  float: left;
  overflow: hidden;
  height: auto;
  text-align: center;
  cursor: pointer;
  img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    
  }
  figcaption {
    font-family: $font_0;
    padding: 2em;
    color: $white;
    text-transform: uppercase;
    font-size: 1.2em;
    backface-visibility: hidden;
    @extend %extend_1;
    > a {
      @extend %extend_1;
      z-index: 1000;
      text-indent: 200%;
      white-space: nowrap;
      font-size: 0;
      opacity: 0;
    }
  }
  figcaption::before {
    pointer-events: none;
  }
  figcaption::after {
    pointer-events: none;
  }
  h2 {
    word-spacing: 1em;
    font-weight: 300;
    margin: 0;
    span {
      font-weight: 800;
    }
  }
  p {
    margin: 0;
    letter-spacing: 1px;
    font-size: 68.5%;
  }
}


figure.effect-duke {
  background: linear-gradient(-45deg, rgb(230, 126, 34) 0,rgb(41, 128, 185) 100%);
  @extend %extend_2;
  
}

figure.effect-blue {
  background: linear-gradient(-45deg, rgb(41, 128, 185) 0, rgb(46, 204, 113) 100%);
  @extend %extend_2;
 
}

figure.effect-green {
  background: linear-gradient(-45deg, rgb(231, 76, 60) 0, rgb(52, 152, 219) 100%);
  @extend %extend_2;
  

}

figure.effect-red {
  background: linear-gradient(-45deg, rgb(155, 89, 182) 0, rgb(230, 126, 34) 100%);
  @extend %extend_2;
}